
html{
}
.container {
	margin: -20px auto;
	width: 1000px;
	background: #f8f8f8;
	padding-left: 10px;
	padding-right: 10px;
}
.footer{
	height: 100px;
	background-color:antiquewhite;
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
	border-top: 1px solid grey;
}
.logo{
	margin-left: 20px;
	margin-top: 10px;
	width: 100px;
	position: absolute;
	
}
.header{
	padding: 20px;
	height: 200px;
	background-image:url(img/HeadBack.jpg);
	background-color: antiquewhite;
	border-bottom: solid black;
}
.menu li a{
	color: black;
	text-decoration: none;
}
.menu li a:hover{
	color: red;
}
.menu li a:active{
	color: green;
}
.menu{
	text-align: right;
	margin-top: 110px;
	position: relative;

}
.menu li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	padding-top: 10px;
	background-color: burlywood;
	text-align: center;
}
.content h3{
	color: black;
	font-size: 16px;
	text-align: left;
	font-weight: 400;
	line-height: 24px;
}
.spec li{
	list-style: circle;
	color: #404040;
}
.regname{
	text-transform: capitalize;
}
.name {
	height: 20px;
	width: 200px;
	color: #484343;
	text-transform: capitalize;
}	
.surname{
	height: 20px;
	width: 200px;
	color: #484343;
	text-transform: capitalize;
}			
#Email{
	height: 20px;
	width: 408px;
	text-transform: capitalize;
}
#Email:focus {
	color: darkcyan;
	background-color: beige;
	font-style: italic;
}
#feedback {
	font-size: 18px;
	font-weight: 400;
	height: 200px;
	width: 406px;
	text-transform: capitalize;
}
.prodimg img {
    outline: 2px solid #666;
	display:inline-block;
	width: 20%;
	
}
.ShortDescription{
	float: right;
	width: 77%;
	height: 110px;
}
.catalogitem img{
	height: 100px;
	width: 150px;
	outline: 2px solid grey;
}
.catalogitem img:hover{
	outline: 0px;
}
.catalogitem a:active img{
	outline: 2px solid red;
}
.catalogitem {
	margin-left: 10px;
	display: inline-block;
	width: 150px;
	height: 120px;
	text-align: center;
}
.catalogitem a{
	text-decoration: none;
	color: black;
}
.catalogitem a:hover{
	color: red;
}
.catalogitem a:active{
	color: darkred;
}
.prodimg img:hover {
   outline: 0px;
}
.buybutton{
	width: 150px;
	height: 40px;
	margin-bottom: 20px;
	margin-left: 800px; 
}
.buybutton:hover{
	color: chocolate;
}
.buybutton:active{
	color: darkred;
}
#SpecName{
	height: 50px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.spec{
	width: 500px;
	background-color: #eaeaea;
}
.content p::first-letter{
	font-family:monospace;
	font-size: 150%;
	color: blueviolet;
}
#catalogHead{
	text-align: center;
	height: 75px;
	width: 1900px;
}
.catalog{
	text-align: center;
	height: 50px;
	text-decoration: none;
}
.catalog a{
	text-decoration: none;
	color: black;
}
.catalog a:hover{
	text-decoration: none;
	color: red;
}
.catalog a img:hover{
	outline: 2px solid #666;
}
.catalog a img:active{
	outline: 2px solid red;
}
.catalog a:active{
	text-decoration: none;
	color:blue;
}