
html{
	background: #f8f8f8;
}
.menu li a{
	color: black;
	text-decoration: none;
}
.menu li a:hover{
	color: red;
}
.menu li a:active{
	color: green;
}
.menu li{
	list-style-type: none;
}
.content h3{
	color: black;
	font-size: 16px;
	text-align: left;
	font-weight: 400;
	line-height: 24px;
}
.spec li{
	list-style: circle;
	color: #404040;
}
.regname{
	text-transform: capitalize;
}
.name {
	height: 20px;
	width: 200px;
	color: #484343;
	text-transform: capitalize;
}	
.surname{
	height: 20px;
	width: 200px;
	color: #484343;
	text-transform: capitalize;
}			
#Email{
	height: 20px;
	width: 408px;
	text-transform: capitalize;
}
#Email:focus {
	color: darkcyan;
	background-color: beige;
	font-style: italic;
}
#feedback {
	font-size: 18px;
	font-weight: 400;
	height: 200px;
	width: 406px;
	text-transform: capitalize;
}
.prodimg {
   outline: 2px solid #666; 
}
.prodimg:hover {
   outline: 0px;
}
#SpecName{
	height: 50px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.spec{
	width: 500px;
	background-color: #eaeaea;
}
.content p::first-letter{
	font-family:monospace;
	font-size: 150%;
	color: blueviolet;
}
#catalogHead{
	text-align: center;
	height: 75px;
	width: 1900px;
}
.catalog{
	text-align: center;
	height: 50px;
	text-decoration: none;
}
.catalog a{
	text-decoration: none;
	color: black;
}
.catalog a:hover{
	text-decoration: none;
	color: red;
}
.catalog a img:hover{
	outline: 2px solid #666;
}
.catalog a img:active{
outline: 2px solid red;
}
.catalog a:active{
	text-decoration: none;
	color:blue;
}